In [ ]:
from pyspark import SparkConf, SparkContext

conf = SparkConf().setAppName("Assignment3").setMaster("local")
sc = SparkContext.getOrCreate()

import os
import sqlite3

# Question 1
Write a SQL query that lists all the players born between 1987 and 1990inclusive, sort them from the oldest to the youngest.  

The output of this query should be of the form:
Player Name | Birthday

In [ ]:
con = sqlite3.connect('database.sqlite')
cursorObj = con.cursor()


cursorObj.execute("SELECT player_name,birthday FROM Player WHERE birthday BETWEEN 1987 AND 1990 ORDER by birthday;")

rows = cursorObj.fetchall()

print '{0:^25}{s:1}{1:^18}'.format("Player Name","Birthday", s="|"),"\n",'{:-^45}'.format("-")


for row in rows:
    print u'{x:25}{s:5}{y:20}'.format(x=row[0],y=row[1][0:10],s="|")

# Question 2 

Write a SQL query that ranks all countries and leagues based on the total amount of total goals scored per game in the whole dataset. 
Sort them by the largest to the smallest amount of goals. 
Note: Read this carefully. 

The output of this query should be of the form:
Country | League Name | Total Goals Scored

In [ ]:
con = sqlite3.connect('database.sqlite')
cursorObj = con.cursor()



cursorObj.execute("""
SELECT DISTINCT c.name AS Country, l.name AS League, sum(m.home_team_goal+m.away_team_goal) AS Total_Goals_Scored
FROM "Match" m
INNER JOIN Country c
    ON m.country_id = c.id
INNER JOIN League l
    ON m.league_id = l.id
GROUP BY c.name 
ORDER BY Total_Goals_Scored ASC;""")
rows = cursorObj.fetchall() 
print '{0:^15}{s:2}{1:^33}{s:5}{2}'.format("Country","League Name","Total Goals Scored", s="|"),"\n",'{:-^80}'.format("-")

for row in rows:
    print u'{x:<15}{s:5}{y:<30}{s:5}{z:^18}'.format(x=row[0],y=row[1],z=row[2],s="|")

# Question 3 

Write a SQL query that ranks all teams by the average of all their attributes (not the players' attributes), sort them from best to worst. 

The output of this query should be of the form:
Team Long Name | Average of Attributes

In [ ]:
con = sqlite3.connect('database.sqlite')
cursorObj = con.cursor()

cursorObj.execute("SELECT DISTINCT t.team_long_name, avg(ta.buildupplayspeed+ta.buildUpPlayDribbling+ta.buildupplaypassing+ta.chancecreationpassing+ta.chancecreationcrossing+ta.chancecreationshooting+ta.defencepressure+ta.defenceaggression+ta.defenceteamwidth) AS Attribute_Average FROM Team_Attributes ta INNER JOIN Team t ON ta.team_fifa_api_id = t.team_fifa_api_id GROUP BY t.team_long_name ORDER BY Attribute_Average DESC LIMIT 20;")

rows = cursorObj.fetchall()

print '{0:^25}{1:5}{2:^12}'.format("Team Long Name","|","Average Attributes"),"\n",'{:-^53}'.format("-")
for row in rows:
    
    print u'{x:<25}{s:5}{y:^15}'.format(x=row[0],y=row[1],s="|")

# Question 4

Write a SQL query that ranks all teams by the average of their players'attributes, sort them by descending order displaying only the top 5. 

The output of this query should beof the form:
Team Name| Number of Players | Player Attribute Average

In [ ]:
con = sqlite3.connect('database.sqlite')
cursorObj = con.cursor()

cursorObj.execute("")

rows = cursorObj.fetchall() 

for row in rows:
    print row

# Question 5

Write a SINGLE SQL query that finds the date that had the most goals scored on,per each different season and league. 

The output of this query should be of the form: 
Date (dd/mm/yy) | Season | League Name | Goals scored

In [ ]:
con = sqlite3.connect('database.sqlite')
cursorObj = con.cursor()

cursorObj.execute("""
SELECT DISTINCT m."date" AS "Date", m.season, l.name, max(m.home_team_goal+m.away_team_goal) AS "Goals Scored"
FROM League l
JOIN "Match" m
ON m.league_id = l.id
GROUP BY l.name
ORDER BY "Goals Scored" DESC;
""")

rows = cursorObj.fetchall() 

print '{0:^15}{1:2}{2:^16}{3:1}{4:^31}{5:4}{6:^10}'.format("Date","|","Season","|","League Name","|","Goals Scored"),"\n",'{:-^85}'.format("-")
for row in rows:
    print '{x:<15}{s:5}{y:<13}{s:5}{z:<27}{s:5}{a:^10}'.format(x=row[0][0:10],y=row[1],z=row[2],a=row[3],s="|")

# Graduate Student Task

Write a SINGLE SQL query that finds the top 5 teams in terms ofgoals scored PER league for the 2008/2009 season. 
The output of this query should be of the form:
Season | League | Rank | Team Name | Goals Scored

In [ ]:
con = sqlite3.connect('database.sqlite')
cursorObj = con.cursor()

cursorObj.execute("""
SELECT m.season, l.name, t.team_long_name, max(m.home_team_goal+m.away_team_goal) AS "Goals Scored"
FROM "Match" m
JOIN League l
    ON m.league_id = l.id
JOIN Team t
    ON m.home_team_api_id = t.team_api_id
WHERE m.season = '2008/2009'
GROUP BY l.name
ORDER BY "Goals Scored" DESC
LIMIT 5;""")

rows = cursorObj.fetchall()

print '{0:^15}{s:3}{1:^27}{s:10}{2:15}{s:5}{3:20}'.format("Season","League","Team Name","Goals Scored", s="|"),"\n",'{:-^90}'.format("-")

for row in rows:
    print u'{x:<15}{s:5}{y:<25}{s:5}{z:<20}{s:5}{a:^11}'.format(x=row[0],y=row[1],z=row[2],a=row[3],s="|")